
.contact-txt{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 100px;
    margin-top: auto;
    text-align: center;
}
.li-txt{
    list-style: none;
    font-size: 30px;
    text-align: center;
    font-family: 'Hammersmith One', sans-serif;
    margin-right: 2rem;
    padding: 2px;
}

.cont-li{
    margin-bottom: 2rem;
    text-decoration: none;
}