
.pro-txt-h2{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 100px;
    margin-top: auto;
    text-align: center;
    margin-right: 2rem;
}

.pro-li-txt{
    margin-right: 2rem;
    list-style: none;
    font-size: 30px;
    text-align: center;
    font-family: 'Hammersmith One', sans-serif;
    padding: 2px;
    text-decoration: none;
    margin-bottom: 2rem;
}

.txt-li-style{
    margin-bottom: 2rem;
}
