.navbar{
    height: 10vw;
    width: 100vw;
    background-color: black;

}

.nav{
    margin-left: 0px;
    margin-top: 0px;
    height: 100%;
    width: auto;
    margin: auto;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(33, 33, 37);
}

.navitem{  

    height: 4rem;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 1.5px;
    align-self: center;
    color: whitesmoke;
    background-color: rgb(112, 53, 53);
    font-family: 'Roboto', sans-serif;
}

.navitem a {
    text-decoration: none;
    color: whitesmoke;
}

.navfont{
    font-size: 30px;
    color: whitesmoke;
    font-family: 'Faster One', cursive;
}
/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li:hover{
    background-color: #111;
} */